@model StudyTests.Models.Entities.User
@using System.Security.Claims
@{
    string? role = User.FindFirst(ClaimTypes.Role)?.Value;
}



<h2>Welcome, @Model.FullName</h2>
<p>Email: @Model.Email</p>
<p>Phone: @Model.PhoneNumber</p>
<p>Role: @(role ?? "a")</p>
<a asp-controller="Account" asp-action="Logout" class="btn btn-outline-secondary">Logout</a>
<form asp-action="DeleteAccount" method="post" onsubmit="return confirm('Are you sure you want to delete your account?');">
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>